<section class="hero hero--engineering">
  <div class="hero__title">ENGENHARIA &amp; ARQUITETURA</div>
  <div class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
    sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
    quo ex eveniet!
  </div>
</section>

<%= render 'form', component: "engenharia-arquitetura" %>
