<section class="hero hero--management">
  <div class="hero__title">GESTÃO EMPRESARIAL</div>
  <div class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
    sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
    quo ex eveniet!
  </div>
</section>

<section class="container section carousel">
  <div class="hero__title">PROJETOS ANTERIORES</div>
  <div class="carousel__wrapper">
    <svg class="carousel__prev" width="39" height="78" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polyline points="30 6 6 39 30 72" stroke="white" stroke-width="6"
          fill="none" stroke-linejoin="miter"/>
    </svg>
    <svg class="carousel__next" width="39" height="78" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polyline points="6 6 30 39 6 72" stroke="white" stroke-width="6"
          fill="none" stroke-linejoin="miter"/>
    </svg>
    <ul class="carousel__controls">
      <li class="carousel__control carousel__control--active">1</li>
      <li class="carousel__control">2</li>
      <li class="carousel__control">3</li>
      <li class="carousel__control">4</li>
      <li class="carousel__control">5</li>
    </ul>

    <div
      class="carousel__slide carousel__slide--active"
      style="background-image: url(<%= image_url 'building.jpg' %>)"
    >
      <div class="hero__title">Slide 1</div>
      <div class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
        sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
        quo ex eveniet!
      </div>
    </div>

    <div
      class="carousel__slide"
      style="background-image: url(<%= image_url 'gestao.jpg' %>)"
    >
      <div class="hero__title">Slide 2</div>
      <div class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
        sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
        quo ex eveniet!
      </div>
    </div>

    <div
      class="carousel__slide"
      style="background-image: url(<%= image_url 'image.jpg' %>)"
    >
      <div class="hero__title">Slide 3</div>
      <div class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
        sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
        quo ex eveniet!
      </div>
    </div>
  </div>
</section>

<%= render 'form', component: "gestao" %>
