<section class="hero container">
  <a class="hero__link hero__clientes" href="#">
    <h3>Clientes</h3>
    <div class="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </a>
  <a class="hero__link hero__alunos" href="#">
    <h3>Alunos</h3>
    <div class="separator"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </a>
</section>
<div class="arrow container">
  <svg width="78" height="39">
    <path fill="#b3b3b3" d="M0 0, 78 0, 39 39" />
  </svg>
</div>
