a {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

input:focus {
  outline: 0;
  outline-offset: 0px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', 'Lato', 'Helvetica', Arial, sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 48pt;
}
