<div class="sub-header">
  <div class="item">ÁREAS DE ATUAÇÃO</div>
  <div class="item">QUEM PASSOU POR AQUI</div>
  <div class="item">PROCESSO SELETIVO</div>
  <div class="item">BLOG</div>
</div>

<section class="depoimentos">
  <div class="container">
    <h2>Quem Passou por Aqui</h2>
    <div class="separator"></div>
    <ul class="depoimentos__wrapper">
      <li class="depoimentos__item">
        <%= image_tag("image.jpg", size: "128x128", alt: "PCI") %>
        <p class="depoimentos__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
      <li class="depoimentos__item">
        <%= image_tag("image.jpg", size: "128x128", alt: "PCI") %>
        <p class="depoimentos__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
      <li class="depoimentos__item">
        <%= image_tag("image.jpg", size: "128x128", alt: "PCI") %>
        <p class="depoimentos__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
      <li class="depoimentos__item">
        <%= image_tag("image.jpg", size: "128x128", alt: "PCI") %>
        <p class="depoimentos__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </li>
    </ul>
    <ul class="depoimentos__wrapper">
      <p class="depoimentos__big-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="depoimentos__btn" href="#">Deixe seu depoimento</a>
    </ul>
  </div>
</section>

<section class="processo-seletivo">
  <div class="container">
    <h1>Processo Seletivo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>
