<div class="sub-header">
  <div class="item"> <%= link_to "SERVIÇOS", "#" %> </div>
  <div class="item"> <%= link_to "QUEM CONFIA NA GENTE", "#" %> </div>
  <div class="item"> <%= link_to "BLOG", "#" %> </div>
</div>

<section class="members-photo">
  <div class="title">NÓS SOMOS A PROJETOS</div>
  <div class="body-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
    sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
    quo ex eveniet!
  </div>
</section>