<header class="header">
	<div class="logo item">
		<%= image_tag("Logotipo PCI - horizontal.svg", size: "210x100", alt: "PCI") %>
	</div>
	<div class="item"><%= link_to "SOBRE A PCI", "#" %></div>
	<div class="item">
		<%= link_to "#" do  %>
		MOVIMENTO <br> EMPRESA JÚNIOR
		<% end %>	
	</div>
	<div class="item"> <%= link_to "CONTATO", "#" %></div>
	<div class="buscador item">
		<input type="text" placeholder="BUSCAR" />
	</div>
</header>

<div class="sub-header">
	<div class="item">SERVIÇOS</div>
	<div class="item">QUEM CONFIA NA GENTE</div>
	<div class="item">BLOG</div>
</div>

