<div class="sub-header">
  <div class="item">SERVIÇOS</div>
  <div class="item">QUEM CONFIA NA GENTE</div>
  <div class="item">BLOG</div>
</div>

<section class="hero container">
  <div class="hero__user">
    <a class="hero__link hero__clientes" href="#">
      <h3 class="hero__title">Clientes</h3>
      <div class="separator"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </a>
    <a class="hero__link hero__alunos" href="#">
      <h3 class="hero__title">Alunos</h3>
      <div class="separator"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </a>
  </div>
  <div class="arrow">
    <svg width="78" height="39">
      <polygon fill="#b3b3b3" points="0,0 78,0 39,39" />
    </svg>
  </div>
</section>
