.accordion {
  background-color: #ededed;

  &--students {
    background-color: white;
  }

  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  &__card {
    @include blend-image(#02a08d);
    @include center-content;
    min-width: 208px;
    width: 100%;
    margin: 8px 0;
    padding: 16px;
    color: white;
  }

  &__title {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  &__description {
    display: none;
    margin-bottom: 0;
  }

  @include media-md-down {
    &__card--active &__description {
      display: block;
    }

    &__title::after {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      float: right;
      background-image: image_url('accordion.svg');
    }

    &__card--active &__title::after {
      transform: rotate(-90deg);
    }
  }

  @include media-lg-up {
    &__card {
      margin: 8px;
      width: calc(25% - 48px); // 1/4 - margins
      height: 344px;
      font-size: 1.2em;

      &:hover {
        background-color: darken(#02a08d, 15%);
      }
    }

    &__card:hover {
      p {
        display: block;
      }

      h3 {
        display: none;
      }
    }
  }
}
