.carousel {
  color: white;
  text-align: center;

  &__title {
    font-size: 27pt;
    font-weight: bold;
    text-transform: uppercase;
    margin: 32px auto 16px;

    @include media-xs-down {
      font-size: 20pt;
    }

    &--management {
      color: #435b65;
    }

    &--students {
      margin-top: 0px;
      color: #435c65;
    }

    &--legal {
      color: #12a18c;
    }

    &--engineering {
      color: #d29108;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &__prev {
    left: 16px;
  }

  &__next {
    right: 16px;
  }

  &__wrapper {
    position: relative;
  }

  &__slide {
    @include center-content;
    @include blend-image(#bdbdbd);

    width: 100%;
    height: 400px;
    overflow: hidden;
    display: none;

    &--hero {
      height: 515px;
    }

    &--active {
      display: flex;
    }
  }

  &__controls {
    margin: 0;
    list-style: none;
    color: transparent;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  &__control {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 4px;
    font-size: 0;

    &--active {
      background-color: white;
    }
  }

  .sep {
    border: none;
    width: 48px;
    height: 6px;
    margin-bottom: 32px;

    &--management {
      background-color: #435b65;
    }

    &--students {
      background-color: #435c65;
    }

    &--legal {
      background-color: #12a18c;
    }

    &--engineering {
      background-color: #d29108;
    }
  }
}
