.depoimentos {
  background-color: #ededed;
  padding: 16px;

  h2 {
    color: #435c65;
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;

    @include media-md-up {
      width: 50%;
    }
  }

  p {
    margin: 0 16px;
  }

  img {
    margin: 16px 0;
  }

  .separator {
    height: 6px;
    width: 50px;
    margin: 8px 0;
    background-color: #435c65;
  }
}
