.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	
	height: 130px;
	margin-bottom: 37px;
	text-align: center;
	font-size: 1.3em;

	box-shadow: 0px 2px 50px $shadow-color;
	.item {
		padding-top: 1.1em;
	}
	.buscador { 
		input {
			border-radius: 6px;
			width: 235px;
			height: 30px;
			background-color: $input-color;
			border-width: 0;
			text-indent: 5px;
		}
	}
}