.header {
	display: flex;
	align-items: center;
	justify-content: space-around;

	height: 130px;
	margin-bottom: 37px;

	text-align: center;
	font-size: 1.3em;
	color: $header-text;

	box-shadow: 0px 2px 50px $shadow;
	.item,
	.logo {
		padding-top: 1.1em;
		a:hover {
			font-weight: bold;
		}
	}
	.buscador { width: 220px; }
	.buscador, .buscador-mobile {
		.gsib_a input {
			border-top-left-radius: 7px !important;
			border-bottom-left-radius: 7px !important;
			width: 100% !important;
			height: 35px !important;
			background: none !important;
			background-color: $light-gray !important;
			border-width: 0 !important;
			text-indent: 15px !important;
		}
		.cse .gsc-control-cse, .gsc-control-cse {
			padding: 0 !important;
		}
		.gsc-input-box-hover, .gsc-input-box-focus {
			box-shadow: none !important;
		}
		td, input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
			outline: 0 !important;
			border: none;

		}
		.gsib_a {
			padding: 0 !important;
			position: relative !important;
		}
		.gsc-search-button {
			position: absolute !important;
			right: 25px;
			border: none !important;
			background-color: $light-gray !important;
		}
		.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
			width: 25px !important;
			height: 25px !important;
			padding: 5px 10px !important;
			border-top-right-radius: 7px !important;
			border-bottom-right-radius: 7px !important;
			margin-top: 0px !important;
		}
	}

	.mobile-nav {
		display: none;
	}
}

@media (max-width: 992px) {
	.header {
		justify-content: space-between;

		.mobile-nav {
			display: block;
			right: 0;
			padding: 0.8em 2em;
			border-left: 2px solid $border-hamburguer;
			border-radius: 2px;
		}

		.buscador,
		.item {
			display: none;
		}
		.buscador-mobile {
			.gsc-search-button {
				position: static !important;
			}
			.gsc-input-box {
				height: inherit !important;
			}
			.gsc-input, .gsst_b {
				padding: 0 !important;
			}


			.gstl_51 {
				width: 70% !important;
				float: right !important;
			}
			.gsib_a {

				float: right;
				input {
					border-top-left-radius: 7px !important;
					border-bottom-left-radius: 7px !important;
					background-color: $white !important;
					font-size: 1.3em;
					direction: rtl;
					text-align: right;
					&::-moz-placeholder, &::-webkit-input-placeholder {
						color: $text-menu-main-items;
					}
				}
			}
			.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
				background-color: $white !important;
				height: 22px !important;
			}
		}

		.menu-btn div {
			position: absolute;
			left: 100%;
			top: 64%;
			padding-right: 8px;
			margin-top: -0.50em;
			line-height: 1.2;
			font-size: 18px;
			font-weight: 200;
			vertical-align: middle;
			z-index: 99;
		}

		.menu-btn span {
			display: block;
			width: 60px;
			height: 9px;
			margin: 10px 0;
			background: $gray-hamburguer-menu;
			z-index: 99;
			border-radius: 3px;
		}
		.menu-btn .active {
			background: $light-red-pci;
		}

		.responsive-menu{
			display: none;
			position: absolute;
			right: 0;
			width: 65%;
			background: $white;
			margin-top: 30px;
			color: $text-menu-main-items;
			.secundary-items {
				color: $text-menu-secundary-items;
			}
			ul {
				margin: 0;
				padding: 0;
				border: 2px solid $border-menu;
			}
			li {
				list-style-type: none;
				text-align: right;
				padding: 1em 1em;
				border-bottom: 2px solid $border-menu;
				&:hover {
					background: $red-hover-menu;
				}
			}
		}

		.expand {
			display: block !important;
		}
	}
}
@media (max-width: 565px) {
	.header .mobile-nav {
		padding: 0.8em 1em;
	}
}
