// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  &__user {
    display: flex;
    text-align: center;
    justify-content: center;

    min-height: calc(100vh - 200px);
    padding: 4px;

    @include media-sm-down {
      flex-direction: column;
    }
  }

  &__link,
  &__link:hover,
  &__link:focus {
    color: white;
    text-decoration: none;
  }

  &__title {
    margin: 0;
  }

  &__clientes,
  &__alunos {
    @include center-content;
    flex: auto;
    margin: 4px;
    padding: 16px;

    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
  }

  &__clientes {
    background-image: image-url('image.jpg');
    background-color: #801810;
  }

  &__alunos {
    background-image: image-url('image.jpg');
    background-color: #00a08c;
  }

  .separator {
    background-color: white;
    height: 5px;
    width: 48px;
    margin: 0 auto 8px;
  }

  .arrow {
    @include center-content;
    padding-bottom: 8px;
  }
}
