.hero {
  @include blend-image;
  @include center-content;
  text-align: center;

  color: $white;

  &--clients {
    background-color: #821810;
    height: 515px;
  }

  &--students {
    background-color: #02a08d;
    height: 410px;
  }

  &--management {
    background-color: #195f66;
    height: 515px;
  }

  &--engineering {
    background-color: #fcbd09;
    height: 515px;
  }

  &--legal {
    background-color: #12a18c;
    height: 515px;
  }

  &__title {
    font-size: 3.7em;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include media-sm-down {
      font-size: 2.7em;
    }
  }

  &__text {
    width: 65%;
    font-size: 1.7em;

    @include media-sm-down {
      width: 100%;
    }
  }
}
