.with-active-modal {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: transparentize(black, .5);
  display: none;

  &--active {
    display: block;
  }

  &__title {
    color: #c20000;
    font-size: 3em;
    text-align: right;
    margin-bottom: 0;
  }

  hr {
    border: none;
    display: block;
    width: 150px;
    height: 4px;
    margin: 16px 0 16px auto;
    background-color: #c20000;
  }

  &__wrapper {
    position: relative;
    top: 50%;
    box-sizing: border-box;
    transform: translateY(-50%);
    margin: 0 auto;
    background-color: white;
    padding: 16px 32px 32px;
    min-width: 300px;
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 600px;
    overflow: auto;
  }

  &__preview {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 180px);
    max-height: calc(100% - 180px);
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: transparentize(black, .5);
    overflow: auto;
  }

  &__item {
    max-height: 100%;
    border: 4px solid transparent;
    box-sizing: border-box;
    &--active {
      border-color: white;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__image {
    margin: 8px 0;
  }

  &__label {
    display: block;
    margin-top: 16px;
    opacity: .6;
  }

  &__prev,
  &__next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  &__prev {
    left: 16px;
  }

  &__next {
    right: 16px;
  }

  @include media-md-up {
    &__images {
      margin-bottom: 16px;
      align-items: flex-start; // Contorna bug no chrome
    }

    &__image {
      margin: 8px;
      width: calc(100% / 3 - 16px);
    }
  }
}
