.processo-seletivo {
  padding: 128px 0;
  text-align: center;
  color: white;
  font-size: 21px;

  background-color: #02a08d;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-image: image-url('image.jpg');
}
