.quotes {
  padding: 80px;

  &--clients {
    color: #776969;
    background-color: $light-gray;
  }

  &--students {
    color: #617984;
    background-color: #ededed;
  }

  &__title {
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 20px;
    @include media-xs-down {
      font-size: 20pt;
    }

    &--clients {
      color: $dark-red-pci;
    }

    &--students {
      color: #435c65;
    }
  }

  .sep {
    display: inline-block;
    height: 7px;
    border: none;
    width: 110px;
    margin-left: 20px;
    margin-bottom: 20px;

    &--clients {
      background-color: $dark-red-pci;
    }

    &--students {
      background-color: #435c65;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__quote {
    display: flex;
    width: 48%;
    margin: 20px 0;
  }

  &__img {
    width: 200px;
    height: 200px;
  }

  &__description {
    width: 100%;
    margin-left: 50px;
    font-size: 1.2em;
  }

  &__big {
    position: relative;
    margin: 32px 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    font-style: italic;
    z-index: 0;

    &::before,
    &::after {
      position: absolute;
      z-index: -1;

      top: 50%;
      transform: translateY(-50%);

      color: #a7d7d3;
      display: block;
      font-size: 4em;
      height: 0.5em;
    }

    &::before {
      content: open-quote;
      left: -0.25em;
    }

    &::after {
      content: close-quote;
      right: -0.25em;
    }
  }

  @include media-md-down {
    padding: 80px 10px;

    &__quote {
      width: 100%;

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  @include media-sm-down {
    &__description {
      margin-right: 50px;
      margin-left: 0px;
      text-align: right;
    }

    &__quote {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }

    &__description {
      margin: 30px 0;
      text-align: center;
    }
  }
}
