.section {
  padding: 32px 16px;

  h2 {
    color: #435c65;
    margin: 0;
  }

  &__btn {
    margin: 0 auto;
    padding: 16px;
    color: white;
    background-color: #a7d7d3;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    display: flex;
    margin: 32px 0;

    @include media-md-up {
      width: 50%;
    }
  }

  .separator {
    height: 6px;
    width: 50px;
    margin: 8px 0;
    background-color: #435c65;

    &--management {
      background-color: #435b65;
    }

    &--legal {
      background-color: #12a18c;
    }

    &--engineering {
      background-color: #d29108;
    }
  }
}
