.text {
  &__heading {
    // text
    color: white;
    text-align: center;
    text-transform: uppercase;

    // sizing
    padding: 52px;
    margin: 32px 0 0 0;

    // bg
    background-image: url('image.jpg');
    background-color: #801810;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
  }

  &__row {
    display: flex;
    @include media-sm-down {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
  }

  .separator {
    background-color: #801810;
    height: 5px;
    width: 48px;
    margin: 0 auto 8px;
  }
}
