.text {
  &__heading {
    // text
    color: white;
    text-align: center;
    text-transform: uppercase;

    // sizing
    padding: 52px 0;
    margin: 32px 0 0 0;

    // bg
    @include blend-image(#801810, 'image.jpg');
  }

  &__row {
    display: flex;
    @include media-sm-down {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
  }

  .container {
    padding: 8px;
  }

  .separator {
    background-color: #801810;
    height: 5px;
    width: 48px;
    margin: 0 auto 8px;
  }
}
