.user {
  &__wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;

    @include media-md-up {
      height: 100vh;
      max-height: 800px;
      min-height: 300px;
      flex-direction: row;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    @include center-content;
    flex: auto;
    margin: 8px;
    padding: 16px;

    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
  }

  &__clientes {
    background-color: #801810;
  }

  &__alunos {
    background-color: #00a08c;
  }

  hr {
    background-color: white;
    height: 5px;
    width: 48px;
    margin: 0 auto 8px;
    border: none;
  }
  h1 {
    @include media-xs-down {
      font-size: 20pt;
    }
  }
  h1,
  p {
    margin: 8px;
  }

  @include media-md-up {
    p {
      margin: 8px 100px;
    }
  }

  &__arrow {
    @include center-content;
    padding-bottom: 8px;
  }
}
