$white: #fff;
$shadow: #c7c7c7;
$light-gray: #E8E8E8;
$dark-red-pci: #550F17;
$light-red-pci: #BE0000;
$border-menu: #f8f8f8;
$border-hamburguer: #bdbdbd;
$gray-hamburguer-menu: #B3B3B3;
$red-hover-menu: #DBB5B4;
$text-menu-main-items: #3A110F;
$text-menu-secundary-items: #6E110A;
$footer: #9a8081;
$header-text: #716364;