<footer class="footer">
	<div class="item">ÍCONES</div>
	<div class="item">
		Setor Comercial Sul Q, 1 BL A Union Building SL 901 <br>
		Brasília, DF, 70297-400 <br>
		projetosintegrada.com.br <br>
		(61) 3966-1661
	</div>
	<div class="item"> CAIXAS ESTRANHAS</div>
</footer>