<footer class="footer">
	<div class="social-medias">
		<a href="https://www.instagram.com/projetosintegrada/ ">
			<div class="circle">
				<%= fa_icon "instagram", class: "fa-4x", style:" padding-top: 8px;" %>
			</div>
		</a>
		<a href="https://www.facebook.com/projetosintegrada/ ">
			<div class="circle">
				<%= fa_icon "facebook", class: "fa-4x", style:" padding-top: 10px;" %>
			</div>
		</a>
	</div>
	<div class="adress">
		Setor Comercial Sul Q, 1 BL A Union Building SL 901 <br>
		Brasília, DF, 70297-400 <br>
		projetosintegrada.com.br <br>
		(61) 3966-1661
		<hr>
	</div>

	<div class="partners-list">
		<h2>PARCEIROS</h2>
			<% footer_part.contents.each do |content| %>
				<% content.photos.each do |photo| %>
					<%= cl_image_tag( photo.fullpath, width: '60px', height: '30px' ) %>
				<% end %>
			<% end %>
			<% if user_signed_in? %>
				<%= link_to 'Editar Lista de parceiros',
					page_page_part_path(footer, footer_part) 
				%>
			<% end %>
	</div>

</footer>