<div id="info" class="modal">
  <div class="modal__wrapper">
    <!-- Empty tags have their content dynamically inserted via js -->
    <h1 class="modal__title"></h1>
    <hr>
    <div class="modal__text"></div>
    <span class="modal__label">Clique para ampliar as fotos.</span>
    <div class="modal__images"></div>
  </div>
</div>
<div id="images" class="modal">
  <svg class="modal__prev" width="39" height="78" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polyline points="30 6 6 39 30 72" stroke="white" stroke-width="6"
    fill="none" stroke-linejoin="miter"/>
  </svg>
  <img class="modal__preview">
  <div class="modal__list"></div>
  <svg class="modal__next" width="39" height="78" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <polyline points="6 6 30 39 6 72" stroke="white" stroke-width="6"
    fill="none" stroke-linejoin="miter"/>
  </svg>
</div>
