<div class="modal">
  <div class="modal__wrapper">
    <!-- Empty tags have their content dynamically inserted via js -->
    <h1 class="modal__title"></h1>
    <hr>
    <div class="modal__text"></div>
    <span class="modal__label">Clique para ampliar as fotos.</span>
    <div class="modal__images"></div>
  </div>
</div>
