<div class="sub-header">
	<% items.each do |key, value| %>
  	<div class="item"> <a href="<%= key %>"><%= value %></a> </div>
	<% end %>
	<div class="item"> <a href="https://medium.com/@PCINTEGRADA">BLOG</a></div>
</div>